.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 21px; /* Space between products */
    justify-items: center; /* Center align the product cards */
    padding: 52px;
  }
  