form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 5px; /* Adjusted margin to add space between buttons */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004080;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: normal;
  }
  